<style type=”text/css”>

th{

background-color:#D63194;

color:cream;

}


<style type=”text/css”>

td{

background-color:#D63194;

color:cream;

}


<style type=”text/css”>

.baris-ganjil{

background-color:#D63194;

color:cream;

}

</style>
